@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Voltaire');
@import url('https://fonts.googleapis.com/css?family=Bellefair|Fauna+One|Gabriela|IM+Fell+DW+Pica|IM+Fell+DW+Pica+SC|IM+Fell+English+SC|Kotta+One|Kreon|Kurale|Laila');

body{
    position: absolute;
    margin: auto;
    color: rgb(20,40,50);
    width:100%;
    height:100%;
    font-weight: 400;
    /*background-color: rgba(227,215,193,1);*/
    background: #8f7d67 url("../img/bckg.jpg") repeat center top;
}

.app {
	margin: auto;
	max-width: 1920px;
}

.header{
    color: white;
    padding: 10px 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background: url("../img/header.png") no-repeat center top;
    /*background-color: #d2beaa;*/
}

.header .title{
    font-size: 2em;
	padding: 0 10px;
	display: inline-block;
    /*font-family: 'Monoton', cursive;*/
    /*font-family: 'Londrina Shadow', cursive;*/
    font-family: 'Fredericka the Great', cursive;
}

.header .owner{
    font-size: 18px;
    text-align: right;
    /*font-family: 'Marck Script', cursive;*/
    font-family: 'Dr Sugiyama', cursive;
}

@media (min-width: 600px) {
    .header {
        padding: 1em 4em;
    }
    .header .title{ 
        font-size: 4em;
	    padding: 0 1em;
    }
    .header .owner{
        font-size: 2em;
    }
}

.footer{
    position:relative;
    bottom: 0;
    font-size: 20px;
    color: rgb(20,60,50);
    margin: 10px 0 0 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    background-color: rgba(0, 21, 4, 0.8);
}

.box-footer {
    padding: 16px 30px;
    font-size: 20px;
    color: white;
    font-family: 'Voltaire', sans-serif;
}

.left-footer {
    position:relative;
    margin-bottom: 20px;
    margin-right: 20px;
    left: 20px;
    display: inline-block;
    vertical-align: top;
}

.right-footer {
    position:relative;
    left: 20px;
    display: inline-block;
    vertical-align: top;
}

.img-logo-footer {
    height: 40px;
    padding: 0px 6px;
}

@media (min-width: 600px) {
    .footer{
        font-size: 1em;
        margin: 10px 0 0 0;
    }
    .left-footer {
        margin-right: 120px;
    }
    .box-footer {
        font-size: 1.2em;
    }
    .img-logo-footer {
        height: 4em;
    }
}

.about {
	font-size: 20px;
	margin: 10px 16px;
	padding: 16px 20px;
	color: aqua;
	background-color: rgba(11, 39, 16, 0.8);
    font-family: 'Voltaire', sans-serif;
	border: 2px solid #0ac200;
	border-radius: 5px;
}
.about table {
	width: 100%;
}
.about img {
	max-height: 60px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.paginas {
    font-size: 20px;
	margin: 10px 16px;
	padding: 16px 20px;
	color: aquamarine;
	background-color: rgba(11, 39, 16, 0.8);
    font-family: 'Voltaire', sans-serif;
	border: 2px solid #0ac200;
	border-radius: 5px;
}

.paginas a {
    text-decoration: none;
    color: goldenrod;
}

.paginas > div > p {
    color: aquamarine;
}

@media (min-width: 600px) {
    .about {
        font-size: 1.4em;
        margin: 1em 16px;
        padding: 1em 2em;
    }
    .about img {
        max-height: 80px;
    }
}

.app-carousel {
	font-size: 20px;
    padding: 16px;
    margin: 10px 16px;
	color: aqua;
	background-color: rgba(18, 35, 9, 0.8);
    font-family: 'Voltaire', sans-serif;
	border: 2px solid #0ac200;
	border-radius: 5px;
}

.app-carousel h2 {
	color: #ffc73b;
    margin: 10px;
}

.app-description {
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}

.app-logo {
    display: inline-block;
}
.app-logo img {
	max-height: 100px;
	margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.app-description img {
	height: 40px;
    margin-right: 10px;
}

.app-description p {
    margin-top: 0;
}

@media (min-width: 600px) {
    .app-carousel {
        font-size: 1.4em;
        padding: 20px;
        margin: 1em 16px;
    }
    .app-description {
        max-width: 80%;
    }
    .app-logo img {
        max-height: 140px;
    }
    .app-description img {
        height: 60px;
    }
}

.resources {
	font-size: 20px;
	margin: 10px 16px;
	padding: 10px 20px;
	color: aqua;
	background-color: rgba(9, 33, 13, 0.8);
    font-family: 'Voltaire', sans-serif;
	border: 2px solid #0ac200;
	border-radius: 5px;
}

.resources a {
	color: white;
}

@media (min-width: 600px) {
    .resources {
        font-size: 1.4em;
        margin: 1em 16px;
        padding: 1em 2em;
    }
}


.toolbar{
    width:100%;
    display: table;
    font-size: 1em;
    /*font-family: 'Fira Sans', sans-serif;*/
    background-color: rgba(10,0,50,0.8);
    font-family: 'Voltaire', sans-serif;
}

.toolbar .item{
    width: 16.5%;
    padding:0.4em;
    text-align: center;
    border: 1px solid rgba(0,60,60,0);
    /*background-color: rgba(79,165,210,1);*/
    display: table-cell;
}

.toolbar .item:hover{
    /*color: rgb(20,40,50);*/
    color: #ccc;
    background-color: rgba(0,0,150,0.5);
    border: 0px solid #fff;
}

.toolbar .item a:link{
    /*color: rgb(20,40,50);*/
    color: #ccc;
    text-decoration: none;
}

.toolbar .item a:visited{
    /*color: rgb(20,40,50);*/
    color: #ccc;
    text-decoration: none;
}

.toolbar .item a:hover{
    /*color: rgb(20,40,50);*/
    color: #ccc;
    text-decoration: none;
}

select {
    background-color: rgba(0,0,150,0.5);
    font-size: 1.2em;
    color: #ccc;
    font-family: 'Voltaire', sans-serif;
    background-color: rgba(0,0,150,0.5);
    border: 0px solid #fff;
}